.ficha {
    width: var(--layout-width);
    margin: 30px auto 14px;
    color: var(--fullblack);
    font-size: 13.8px;
}
@media print {
    .ficha {
        margin-top: 50px;
    }
}
.ficha span {
    line-height: 1.2;
}
.ficha__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    font-size: 15px;
}
.ficha__header-col-de-emblema {
    flex-direction: column;
    padding: 20px 0;
}
.ficha__emblema {
    margin: auto;
    width: 55px;
    height: 55px;
}
.ficha__box-descricao-de-emblema span {
    display: block;
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
}
.ficha__header__col-de-pnct {
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 23px;
}
.ficha__header__col-de-pnct h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
}
.ficha__moldura-de-logo-de-pnct {
    margin-top: 7px;
    width: 140px;
    height: 55px;
}
.ficha__header__col-de-localizacao {
    display: grid;
    grid-template-rows: 25px repeat(4, 1fr);
}
.ficha__col-de-localizacao__linha {
    padding: 0 10px 0 4px;
}
.ficha__col-de-localizacao__linha--border-t {
    border-top: 1px solid var(--cor-de-borda);
    padding-top: 2px;
    margin-top: 10px;
}
.ficha__col-de-localizacao__linha input {
    flex: 1;
}
.ficha__header__col-de-titulo {
    grid-column: 1/4;
    padding: 5px 0;
    background-color: var(--fullblack);
    color: var(--yt);
}
.ficha__titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}
.ficha__seccao--1 {
    margin-top: 8px;
}
.ficha__seccao__titulo {
    text-align: center;
    padding: 4px 0;
}
.ficha__seccao__titulo--main {
    padding: 6px 0;
    text-transform: uppercase;
    background-color: var(--fullblack);
    color: var(--yt);
}
.ficha__seccao__titulo--color-black {
    color: var(--cor-de-texto);
}
.ficha__seccao__header {
    display: grid;
    grid-template-columns: 495px 494px;
}
.ficha__seccao__header--3 {
    grid-template-columns: 80px 909px;
}
.ficha__seccao__header--4 {
    grid-template-columns: 215px 774px;
}
.seccao-da-ficha__header__col2 {
    display: grid;
    grid-template-rows: 20px 40px;
}
.seccao-1__header__linha-com-numeros-das-colunas,
.seccao-1__header__linha-de-indicadores-colunares {
    display: grid;
    grid-template-columns: repeat(2, 130px) 1fr;
    text-align: center;
}
.ficha__linha-com-indicador-e-inputs--s1 {
    display: grid;
    grid-template-columns: 495px repeat(2, 130px) 1fr;
    grid-template-rows: 40px;
}
.ficha__linha-com-indicador-e-inputs--s1 span {
    padding-left: 2px;
}
.ficha__seccao__linha-de-nota {
    min-height: 20px;
    padding-left: 2px;
}
.ficha__seccao__header--seccao-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18px 58px;
    text-align: center;
}
.seccao-2__header__linha-superior {
    display: grid;
    grid-template-columns: calc(263px + 88.25px * 2) 1fr;
}
.seccao-2__header__col2-da-linha-inferior,
.ficha__seccao-2__grid-template-cols-6 {
    display: grid;
    grid-template-columns: 263px repeat(2, 88.25px) 373px repeat(2, 88.25px);
}
.ficha__seccao-2__grid-template-cols-6 {
    grid-template-rows: 28px;
}
.ficha__seccao-2__grid-template-cols-4 {
    display: grid;
    grid-template-columns: 263px calc(2 * 88.25px) 373px calc(2 * 88.25px);
    grid-template-rows: 38px;
    margin-top: 5px;
}
.ficha__seccao-2__grid-template-cols-6 span,
.ficha__seccao-2__grid-template-cols-4 span,
.ficha__linha-com-indicador-e-inputs--s3 span,
.ficha__linha-com-indicador-e-inputs--s4 span {
    padding-left: 2px;
}
.ficha__seccao-2__grid-template-cols-3 {
    display: grid;
    grid-template-columns: repeat(2,calc(263px + 88.25px)) 1fr;
    grid-template-rows: 26px;
}
.ficha__seccao-2__grid-template-cols-3--row-height {
    grid-template-rows: 22px;
}
.ficha__seccao--3,
.ficha__seccao--4 {
    margin-top: 2px !important;
}
.seccao-3__header__col2 {
    display: grid;
    grid-template-columns: repeat(2, calc(30px * 10)) 48px 261px;
}
.seccao-3__header__grid-template-rows-3 {
    display: grid;
    grid-template-rows: 20px 24px 60px;
}
.seccao-3__header__grid-template-rows-2 {
    display: grid;
    grid-template-rows: 20px 84px;
    text-align: center;
}
.seccao-3__header__linha-de-faixas-etarias {
    display: grid;
    grid-template-columns: repeat(10, 30px);
}
.seccao-3__container-de-faixa-etaria {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.seccao-3__container-de-faixa-etaria span {
    transform: rotate(-90deg) translateX(15px);
    white-space: nowrap;
}
.seccao-3__container-de-faixa-etaria--0-4 span,
.seccao-3__container-de-faixa-etaria--5-9 span {
    transform: rotate(-90deg) translateX(8px);
}
.seccao-3__container-de-faixa-etaria--65 span {
    transform: rotate(-90deg) translateX(9px);
}
.seccao-3__header__linha-titulo-casos-novos-e-retratamentos {
    display: grid;
    grid-template-columns: repeat(2, calc(261px / 2));
}
.ficha__linha-com-indicador-e-inputs--s3 {
    display: grid;
    grid-template-columns: 80px repeat(20, 30px) 48px repeat(2, calc(261px / 2));
    grid-template-rows: 35px;
}
.seccao-4__header__linha-com-numeros-das-colunas,
.seccao-4__header__linha-de-indicadores-colunares {
    display: grid;
    grid-template-columns: repeat(4, calc(774px / 4));
    text-align: center;
}
.seccao-4__header__linha-de-indicadores-colunares {
    grid-template-rows: 40px;
}
.ficha__linha-com-indicador-e-inputs--s4 {
    display: grid;
    grid-template-columns: 215px repeat(4, calc(774px / 4));
    grid-template-rows: 28px;
}
[data-totaleixoyoutput]:focus,
[data-totaleixoxoutput]:focus,
.input-celular--focus:focus,
.input-nao-celular:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
.--cor-de-fundo-padrao {
    background-color: var(--gray--c);
}
.--cor-de-fundo-padrao-discreta {
    background-color: var(--gray--d);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--font-small {
    font-size: 12px
}
.ficha__seccao--margin-t {
    margin-top: 6px;
}
.ficha__rodape {
    padding: 0 2px;
    min-height: 71px;
    display: grid;
    grid-template-columns: 680px 1fr;
    align-items: center;
}
.ficha__rodape__col-de-nome {
    min-height: 26px;
}
.ficha__rodape__campo-de-nome {
    width: 400px;
    min-height: 22px;
}
.ficha__rodape__campo-de-categoria {
    width: 223px;
}
.ficha__rodape__campo-de-data {
    min-height: 20px;
}